{% extends 'base.html' %}
{% load custom_tags %}
{% block content %}
<div class="jumbotron">
  <h2>The current price of a Model S is ${{ present_data|get_item:"Model_S" }}</h2>
  <h2>The current price of a Model S Plaid is ${{present_data|get_item:"Model_S_Plaid"}}</h2>

   <table id="ModelSPastPrices">
      <h2 id="tableTitle">Previous Car Prices<h2>
      <tr><th>Model S Price</th><th>Model S Plaid Price</th><th>Scraped At</th></tr>
      {% for data in past_data|dictsort:'scraped_at' %}
     <tr>
        <td>${{ data|get_item:"Model_S" }}</td>
        <td>${{ data|get_item:"Model_S_Plaid" }}</td>
        <td>{{ data|get_item:"scraped_at" }}</td>
      </tr>
            {% endfor %}
   </table>

</div>


{% endblock %}
