Tesla/__pycache__/selenium/test.py
Tesla/__pycache__/selenium/TeslaDB Create.py
Tesla/__pycache__/settings.cpython-36.pyc
Tesla/__pycache__/views.cpython-36.pyc
*.pyc
Tesla/__pycache__/wsgi.cpython-36.pyc
