Tesla/__pycache__/selenium/test.py
Tesla/__pycache__/selenium/TeslaDB Create.py
*.pyc
*.css
*.css
*.pyc
Datetimer.py
.idea/.name
*.log
selenium/json/rTeslaMotors.json
selenium/json/newpatent.json
selenium/json/storedpatentname.json
selenium/logs/Patent_App_check.log
selenium/logs/TeslaReddit.log
.idea/.name
selenium/json/newpatent.json
*.json
*.log
*.log
selenium/json/newpatent.json
*.json
selenium/json/storedpatentname.json
*.log
selenium/geckodriver-v0.30.0-linux64.tar.gz
*.json
*.log
*.log
*.json
selenium/test.py
Tesla/settings.py
*.json
*.log
