teslaspectra/__pycache__/selenium/test.py
teslaspectra/__pycache__/selenium/TeslaDB Create.py
*.pyc
Datetimer.py
.idea/.name
selenium/json/rTeslaMotors.json
selenium/json/newpatent.json
selenium/json/storedpatentname.json
selenium/logs/Patent_App_check.log
selenium/logs/TeslaReddit.log
*.json
selenium/geckodriver-v0.30.0-linux64.tar.gz
selenium/test.py
teslaspectra/settings.py
selenium/Patent_App_check_windows.py
selenium/test.jpg
*.log
selenium/logs/secretkeys.py
selenium/test.py
/config/
config/gunicorn/dev.py
selenium/json/newpatent.json
