@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Electrolize&family=Montserrat&display=swap');
.nav-inner1 {
  display: flex; /* Use flex layout */
  align-items: center; /* Align child elements along the vertical axis */
  justify-content: flex-start; /* Position child elements at the start of the parent element */
  width: 50px; /* Fixed width prevents the centered text from being pushed to the right */
}


.nav-inner2 {
  display: flex; /* Use flex layout */
  align-items: center; /* Align child elements along the vertical axis */
  justify-content: center; /* Center child elements within the parent element */
  width: 100%; /* Fixed width */
  margin: auto; /* Center element within parent */
}



.dollarsign{
color: #85bb65;
font-family: 'Cardo';
text-shadow: 2px 2px 2px #ababab;


}


.fire-icon {
padding-bottom: 5px;
}




.header{
  border-bottom: 1px solid #ddd;
  background: #f9f9f9;
  /* Use flex layout for the .nav element */
  display: flex;
}

.iframe {
    width: 100%; /* 100% width of parent element */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 56.25%; /* maintain the aspect ratio */
}


.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* proportion value of your video */
  height: 0;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* Responsive header elements */

@media (200px <= width <= 1000px){

.jumbotron p {
  font-size: clamp(1.5rem, 3.00vw, 4.00rem);
  font-family: 'Montserrat';
  text-shadow: 1px 1px 1px #ababab;
}

.logo {
  width: auto;
  height: auto;
  max-width: calc(8vw + 50px);
  padding-left: 2px;
  padding-top:  5px;
  padding-bottom: 5px;
  margin-left: 0;
  align: left;
}
.jumbotron {
 margin: auto;
 align-items: center;
 padding-top: 10px;
 padding-left: 0.75vw;
 padding-right: 0.75vw;
 margin-bottom: 2rem;
 padding-bottom: 0.5vh;
 background-color: #ffffff;
 border-radius: .3rem;
}

.tab {
 font-family: 'Montserrat';
 font-style: bold;
 font-size: clamp(3.75rem, 4.75vw, 9.0rem);
}

.metaltitle {
  padding-top: 0.5vh;
  font-family: 'Electrolize';
  font-style: bold;
  font-size: clamp(5.25rem, 8.75vw, 10.5rem);
  color: #e82127;
  margin-left: -50px;
}

h1 {
  font-size: clamp(5.25rem, 8.25vw, 10.5rem);
  text-shadow: 2px 2px 2px #ababab;
}

h2 {
  font-size: clamp(4.25rem, 5.75vw, 7.5rem);
  text-shadow: 2px 2px 2px #ababab;
}

h3 {
   font-size: clamp(3.5rem, 4.75vw, 6.75rem);
  text-shadow: 2px 2px   2px #ababab;
}

h4 {
  font-size: clamp(3.00rem, 3.50vw, 5.75rem);
  text-shadow: 2px 2px 2px #ababab;
}

h5 {
  font-size: clamp(1.5rem, 3.00vw, 4.00rem);
  text-shadow: 2px 2px 2px #ababab;
}

h6 {
  font-size: clamp(1.25rem, 2.5vw, 2.75rem);
  text-shadow: 2px 2px 2px #ababab;
}
}


@media (1000px <= width <= 4000px){
.logo {
  width: auto;
  height: auto;
  max-width: calc(3vw + 50px);
  padding-left: 2px;
  padding-top:  5px;
  padding-bottom: 5px;
  margin-left: 0;
  align: left;
}
.jumbotron {
 max-width: 1100px;
 margin: auto;
 align-items: center;
 padding-top: 10px;
 padding-left: 0.75vw;
 padding-right: 0.75vw;
 margin-bottom: 2rem;
 padding-bottom: 0.5vh;
 background-color: #ffffff;
 border-radius: .3rem;
}

.tab {
 font-family: 'Montserrat';
 font-style: bold;
 font-size: clamp(0.75rem, 1.0vw, 2.0rem);
}
.metaltitle {
 padding-top: 0.5vh;
 font-family: 'Electrolize';
 font-style: bold;
 font-size: clamp(1.25rem, 1.75vw, 3.0rem);
 color: #e82127;
 margin-left: -50px;
}

h1 {
font-size: clamp(1rem, 1.5vw, 2rem);
text-shadow: 2px 2px 2px #ababab;
}

h2 {
font-size: clamp(0.75rem, 1.5vw, 1.75rem);
text-shadow: 2px 2px 2px #ababab;
}

h3 {
font-size: clamp(0.75rem, 1.25vw, 1.75rem);
text-shadow: 2px 2px 2px #ababab;
}

h4 {
font-size: clamp(0.75rem, 1.0vw, 1.5rem);
text-shadow: 1px 1px 1px #ababab;
}

h5 {
font-size: clamp(0.25rem, 0.75vw, 0.75rem);
text-shadow: 2px 2px 2px #ababab;
}

h6 {
font-size: clamp(0.25rem, 0.5vw, 0.5rem);
text-shadow: 2px 2px 2px #ababab;
}}





body {
  background: #cccccc;
}


.jumbotron h2, .jumbotron h3, .jumbotron h4,  {
  font-family: 'Montserrat';
  text-shadow: 1px 1px 1px #ababab;
}



.turnBlue{
    color: blue;
}



th{
  color: red;
  text-align: center;
}



th,tr, td {
  border: 1px solid black;
  padding-left: 5px;
  padding-right: 5px;

}


td{
  width: auto;
  color: blue;

}

#ModelSPastPrices{
  border: 2px solid black;
  margin-left:auto;
  margin-right:auto;
  border-spacing: 8px;

}
#tableTitle{
  color: black;
  font-family: monospace;
  font-size: 45px;
}

.jumbotron_container{
margin: 1vw;
}



a:link{
}

a:hover { text-decoration: none; }
a:active { text-decoration: none; }
