{% extends 'base.html' %}
{% load custom_tags %}
{% block head %}
<title>TeslaSpectra - the latest in Tesla news, discussions, videos and patents</title>
<meta name="description" content="Learn about the latest developments from Tesla,
including information about new models, patent filings, and more.">
<meta name="keywords" content="Tesla, electric cars, Model S, Model S Plaid, patents,
 Reddit, r/TeslaMotors, recent developments">
<meta name="robots" content="index, follow">
<meta property="og:title" content="Tesla's Latest Developments and Patents">
<meta property="og:description" content="Learn about the latest happenings from Tesla, patent filings, and more.">
<meta name="viewport" content="width=device-width, initial-scale=1" />

{% endblock %}
{% block content %}

<div>
    <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link tab active" data-toggle="tab" href="{% url 'home' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link tab" data-toggle="tab" href="{% url 'onyoutube' %}">On YouTube</a>

    </li>
    <li class="nav-item">
      <a class="nav-link tab" data-toggle="tab" href="{% url 'onreddit' %}">On Reddit</a>
    </li>
  </ul>

<div class="tab-content">
  <div id="home" class="container tab-pane active"><br>
  </div>
  <div id="youtube" class="container tab-pane fade"><br>
  </div>
  <div id="reddit" class="container tab-pane fade"><br>

  </div>
</div>
</div>

<div class = "jumbotron_container">

{% for i in "1234" %}
  {% with patent_key="patent"|add:i %}
  {% if patent_key in recent_patent %}
    {% with pub_date_key="publishing date"|add:i %}
    {% with abstract_key="abstract"|add:i %}
      <div id = "jumbotron">
        <h3>Tesla's recent patent filing:</h3>
        <h2> {{recent_patent|get_item:patent_key}}</h2>

        <h4>Abstract</h4>
        <p>{{recent_patent|get_item:abstract_key}}</p>
        <p>filed on: {{recent_patent|get_item:pub_date_key}}</p>
      </div>
    {% endwith %}
    {% endwith %}
    {% endif %}
    {% endwith %}
    {% endfor %}
</div>
{% endblock %}
