{% extends 'base.html' %}
{% load custom_tags %}
{% block content %}

<div>
     <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="{% url 'home' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="{% url 'onyoutube' %}">On Youtube</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="{% url 'home' %}">Messages</a>
    </li>
  </ul>

<---tab panes ---->

<div class="tab-content">
  <div id="home" class="container tab-pane fade"><br>
    <h3>Home</h3>
  </div>
  <div id="youtube" class="container tab-pane active"><br>
    <h3>Tesla On Youtube</h3>
  </div>
  <div id="messages" class="container tab-pane fade"><br>
    <h3>Messages</h3>
  </div>
</div>


<div class="container">

  {% for channel_title in channels %}
    {% with title_key=channel_title|addstr:" vid_title" %}
    {% with e_tag_key=channel_title|addstr:" e_tag" %}
    {% with description_key=channel_title|addstr:" description" %}
    {% with embed_url_key=channel_title|addstr:" embed_url" %}
    {% with published_at_key=channel_title|addstr:" published_at" %}
      <div class = "jumbotron">
        <h4> Recent Video from {{channel_title}}</h4>
        <h5> {{youtube_vids|get_item:title_key}}</h5>
        <div class = "iframe">
        <iframe class  src={{youtube_vids|get_item:embed_url_key}} frameborder="3" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <h6>Description</h6>
        <p>{{youtube_vids|get_item:description_key}}</p>
        <p>Published at: {{youtube_vids|get_item:published_at_key}}, "video provided by YouTube"</p>
      </div>

    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
{% endfor %}
</div>

</div>


{% endblock %}