{% extends 'base.html' %}
{% load custom_tags %}
{% block head %}
    <title>Tesla on YouTube - Latest Videos and Channel Updates</title>
    <meta name="description" content="Stay up-to-date with the latest Tesla videos on YouTube. Explore channel updates, product releases, and more.">
    <meta name="keywords" content="Tesla, YouTube, Videos, Channel Updates, Product Releases">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

{% endblock %}

{% block content %}


     <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link tab" data-toggle="tab" href="{% url 'home' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link tab active" data-toggle="tab" href="{% url 'onyoutube' %}">On YouTube</a>
    </li>
    <li class="nav-item">
      <a class="nav-link tab" data-toggle="tab" href="{% url 'onreddit' %}">On Reddit</a>
    </li>
  </ul>

<div class="tab-content">
  <div id="home" class="container tab-pane fade"><br>
  </div>
  <div id="youtube" class="container tab-pane active"><br>
  </div>
  <div id="reddit" class="container tab-pane fade"><br>

  </div>
</div>


    {% for channel_title in channels %}
    {% with e_tag_key=channel_title|addstr:" e_tag" %}
    {% with description_key=channel_title|addstr:" description" %}
    {% with embed_url_key=channel_title|addstr:" embed_url" %}
    {% with published_at_key=channel_title|addstr:" published_at" %}
<div class = "jumbotron_container">
      <div id = "jumbotron" class = "YouTube-jumbotron">
        <span class = "from">From: </span><span class = "yt_channel_name">{{channel_title}}</span>
       <div class='video-wrapper'>
         <iframe src="{{youtube_vids|get_item:embed_url_key}}?enablejsapi=1"
                 frameborder="0" style="border: solid 4px"></iframe>
            </div>

        <h4>{{youtube_vids|get_item:description_key}}</h4>
        <p>Published at: {{youtube_vids|get_item:published_at_key}}, video provided by YouTube</p>
      </div>
</div>
</div>
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endfor %}
    </div>

{% endblock %}