{% extends 'base.html' %}
{% load custom_tags %}
{% block head %}
    <title>Tesla on YouTube - Latest Videos and Channel Updates</title>
    <meta name="description" content="Stay up-to-date with the latest Tesla videos on YouTube. Explore channel updates, product releases, and more.">
    <meta name="keywords" content="Tesla, YouTube, Videos, Channel Updates, Product Releases">
    <meta name="robots" content="index, follow">

{% endblock %}

{% block content %}

<div>
     <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link tab" data-toggle="tab" href="{% url 'home' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link tab active" data-toggle="tab" href="{% url 'onyoutube' %}">On Youtube</a>
    </li>
    <li class="nav-item">
      <a class="nav-link tab" data-toggle="tab" href="{% url 'onreddit' %}">On Reddit</a>
    </li>
  </ul>

<div class="tab-content">
  <div id="home" class="container tab-pane fade"><br>
  </div>
  <div id="youtube" class="container tab-pane active"><br>
  </div>
  <div id="reddit" class="container tab-pane fade"><br>

  </div>
</div>


<div class="container">

  {% for channel_title in channels %}
    {% with title_key=channel_title|addstr:" vid_title" %}
    {% with e_tag_key=channel_title|addstr:" e_tag" %}
    {% with description_key=channel_title|addstr:" description" %}
    {% with embed_url_key=channel_title|addstr:" embed_url" %}
    {% with published_at_key=channel_title|addstr:" published_at" %}
      <div class = "jumbotron">
        <h2> Recent video from {{channel_title}}</h2>
        <h3> {{youtube_vids|get_item:title_key}}</h3>
       <div class='video-wrapper'>
        <iframe class  src={{youtube_vids|get_item:embed_url_key}}?rel=0 frameborder="3"
                allow="same-origin"
                allowfullscreen sandbox="allow-scripts allow-same-origin
                allow-presentation"></iframe>
        </div>
        <h3>Description</h3>
        <h4>{{youtube_vids|get_item:description_key}}</h4>
        <h5>Published at: {{youtube_vids|get_item:published_at_key}}, video provided by YouTube</h5>
      </div>

    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
{% endfor %}
</div>

</div>
{% endblock %}